In [3]:
import pandas as pd
import numpy as np



file = "aes_data.xlsx"

data = pd.read_excel(file)




# data = data.drop([0,1,2], axis=0)

df = data.drop([0,1,2], axis=0)
cols_fillna = df.columns.values
for col in cols_fillna[1:]:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)


    

# df[cols_fillna[-1]][df[cols_fillna[-1]].isnull()]

# data.head()

In [4]:
# df[cols_fillna[-1]] = df[cols_fillna[-1]].fillna(0)

# df[cols_fillna[-1]][df[cols_fillna[-1]].isnull()]

In [5]:
# df.head()
df.dtypes

Время                  object
10LAB11CP002_XQ01     float64
10LAB12CP002_XQ01     float64
10LAB13CP002_XQ01     float64
10LAB14CP002_XQ01     float64
10LAB15CP002_XQ01     float64
10LAB11CP003_XQ01     float64
10LAB12CP003_XQ01     float64
10LAB13CP003_XQ01     float64
10LAB14CP003_XQ01     float64
10LAB15CP003_XQ01     float64
10LAB11CF001_XQ01     float64
10LAB12CF001_XQ01     float64
10LAB13CF001_XQ01     float64
10LAB14CF001_XQ01     float64
10LAB15CF001_XQ01     float64
10LAB00FT902_XQ01     float64
10LAC11CE021_XQ01     float64
10LAC12CE021_XQ01     float64
10LAC13CE021_XQ01     float64
10LAC14CE021_XQ01     float64
10LAC15CE021_XQ01     float64
10LAC11CS001A_XQ01    float64
10LAC12CS001A_XQ01    float64
10LAC13CS001A_XQ01    float64
10LAC14CS001A_XQ01    float64
10LAC15CS001A_XQ01    float64
10BBA00CE010_XQ01     float64
10BBB00CE010_XQ01     float64
10BBC00CE010_XQ01     float64
10BBD00CE010_XQ01     float64
10MKA10CE912_XQ01     float64
10JKS00FU901_XQ01     float64
dtype: object

In [6]:
print(df.isnull().values.any())
df.fillna(0)
print(df.isnull().values.any())

False
False

In [9]:
df[df.isnull()]
# df

,Время,10LAB11CP002_XQ01,10LAB12CP002_XQ01,10LAB13CP002_XQ01,10LAB14CP002_XQ01,10LAB15CP002_XQ01,10LAB11CP003_XQ01,10LAB12CP003_XQ01,10LAB13CP003_XQ01,10LAB14CP003_XQ01,...,10LAC12CS001A_XQ01,10LAC13CS001A_XQ01,10LAC14CS001A_XQ01,10LAC15CS001A_XQ01,10BBA00CE010_XQ01,10BBB00CE010_XQ01,10BBC00CE010_XQ01,10BBD00CE010_XQ01,10MKA10CE912_XQ01,10JKS00FU901_XQ01
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
import matplotlib.pyplot as plt
import pandas as pd



# a scatter plot comparing num_children and num_pets
# data.iloc[:5,:].reset_index().plot(kind='line',x='index',y='10LAB11CP002_XQ01',color='red', ax=ax)


x, y = df['10LAB11CP002_XQ01'].min(), df['10LAB11CP002_XQ01'].max()
# df['SIZE'] = (df.TOTAL - x) / (y - x) * (b - a) + a


plot_df = pd.to_numeric(df['10LAB11CP002_XQ01'], errors='coerce')

df1 = (plot_df - plot_df.mean())/plot_df.std()

df1.head()

3   -0.032401
4   -0.032401
5   -0.032401
6   -0.032401
7   -0.032401
Name: 10LAB11CP002_XQ01, dtype: float64

In [ ]:
ax = plt.gca()

plt.plot(df.reset_index()['index'], df['10LAB11CP002_XQ01'])

In [ ]:
df1.head()

plt.plot(df.reset_index()['index'], df1)

In [ ]:
plot_df2 = pd.to_numeric(df['10JKS00FU901_XQ01'], errors='coerce')

df2 = (plot_df2-plot_df2.mean())/plot_df2.std()
df2.head()

In [ ]:
plt.plot(df.reset_index()['index'], df2)

In [ ]:
# v1 = pd.to_numeric(df['10JKS00FU901_XQ01'], errors='coerce')[:3000]
# v2 = pd.to_numeric(df['10LAB11CP002_XQ01'], errors='coerce')[:3000]



# np.cov(v1.to_numpy().T,v2.to_numpy().T, rowvar=0)

np.cov(df1.to_numpy()[:6000].T,df2.to_numpy()[:6000].T, rowvar=0)

In [ ]:
np.corrcoef(df1.to_numpy()[:3000], df2.to_numpy()[:3000])

In [ ]:
np.correlate(df1,df2)

In [ ]:
filtered_df = df1[df1.isnull()]

In [ ]:
print(filtered_df)

In [ ]:
filtered_df = df2[df2.isnull()]
print(filtered_df)

In [ ]:
df2[3060:3100]

In [ ]:
df.isnull().values.any()

In [ ]:
df2[3060:3100]

In [ ]:
df2.fillna(0, inplace=True)

In [ ]:
df2[3060:3100]